*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  overflow-x: hidden;
}

.page {
  flex-grow: 1;
}

@mixin container() {

  @media (min-width: $tablet) {

  }

  @media (min-width: $desktop) {

  }
}

@mixin title() {

  @media (min-width: $tablet) {

  }

  @media (min-width: $desktop) {

  }
}

@mixin text() {
  word-wrap: break-word;
  hyphens: auto;
}
